{% block about %}
<section id="about">
    <div class="about-wrapper container">
        <div class="about-text">
            <p class="small">Sobre nós</p>
            <h2>"Semelhante à comida é a vida, nunca saberemos se é boa ou má sem antes experimentar"</h2>
            <p>
                Esta página se apresenta como a resolução do desafio de programação proposto 
                para o nivelamento do PAFT (Programa de Atração e Formação de Talentos) do aluno 
                Leonardo Felipe Salgado. O objetivo original do desafio seria ampliar os conhecimentos
                do aluno em programação, desenvolvendo um sistema que requisite o máximo de conceitos
                técnicos que o aluno pudesse aprender. Assim sendo, a página a seguir cumpre o desafio 
                juntando os conceitos de programação e avançando na área de Frontend (minha trilha escolhida).
                A página busca alcançar esse objetivo ao converter um template de página estática para uma
                página dinâmica, tornando-a mais interativa para o usuário e inteligente. O tema escolhido 
                foi um de meu interesse: culinária. 
            </p>
        </div>
        <div class="about-img">
            <img src="https://i.postimg.cc/mgpwzmx9/about-photo.jpg" alt="food" />
        </div>
    </div>
</section>
{% endblock %}
