{% block testimonials %}
<section id="testimonials">
    <h2 class="testimonial-title">Avaliações dos clientes</h2>
    <div class="testimonial-container container">
        <div class="testimonial-box">
            <div class="customer-detail">
                <div class="customer-photo">
                    <img src="https://i.postimg.cc/5Nrw360Y/male-photo1.jpg" alt="" />
                    <p class="customer-name">Ross Lee</p>
                </div>
            </div>
            <div class="star-rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <p class="testimonial-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
                voluptas cupiditate aspernatur odit doloribus non.
            </p>

        </div>
        <div class="testimonial-box">
            <div class="customer-detail">
                <div class="customer-photo">
                    <img src="https://i.postimg.cc/sxd2xCD2/female-photo1.jpg" alt="" />
                    <p class="customer-name">Amelia Watson</p>
                </div>
            </div>
            <div class="star-rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <p class="testimonial-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
                voluptas cupiditate aspernatur odit doloribus non.
            </p>

        </div>
        <div class="testimonial-box">
            <div class="customer-detail">
                <div class="customer-photo">
                    <img src="https://i.postimg.cc/fy90qvkV/male-photo3.jpg" alt="" />
                    <p class="customer-name">Ben Roy</p>
                </div>
            </div>
            <div class="star-rating">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <p class="testimonial-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
                voluptas cupiditate aspernatur odit doloribus non.
            </p>

        </div>
    </div>
</section>
{% endblock %}