{% block menu %}
<section id="food-menu">
    <h2 class="food-menu-heading">Menu</h2>
    <div class="food-menu-container container">

        {% for food in the_menu %}
            <div class="food-menu-item">
                <div class="food-img">
                    <img src="{{ food['pathImg'] }}" alt="" />
                </div>
                <div class="food-description">
                    <h2 class="food-titile">{{ food['nome'] }}</h2>
                    <p>
                        {{ food['descricao'] }}
                    </p>
                    <p class="food-price">Preço: R&#x24;{{ food['preco'] }}</p>
                    <a href="#">Ver receita</a>
                </div>
            </div>
        {% endfor %}

    </div>
</section>
{% endblock %}
