{% block testimonials %}
<section id="testimonials">
    <h2 class="testimonial-title">Avaliações das receitas</h2>
    <div class="testimonial-container container">
        {% for ref in the_testimonials %}
        <div class="testimonial-box">
            <div class="customer-detail">
                <div class="customer-photo">
                    <img src="{{ ref['pathImg'] }}" alt="" />
                    <p class="customer-name">{{ ref['nome'] }}</p>
                </div>
            </div>
            <div class="star-rating">
                {% for x in range(5) %}
                    {% if ref['rate'] >= x: %}
                    <span class="fa fa-star checked"></span>
                    {% else %}
                    <span class="fa fa-star unchecked"></span>
                    {% endif %}
                {% endfor %}
            </div>
            <p class="testimonial-text">
                {{ ref['depoimento'] }}
            </p>
        </div>
        {% endfor %} 
    </div>
</section>
{% endblock %}
